*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background: linear-gradient(to right, #1c7ca9 7%, #2ddbcb 109%);
}
body span{
    font-size: 50px;
    font-weight: 800;
}
.superdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.todomain{
    background: linear-gradient(to right, #526ada 7%, #d17d45 130%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 20px 5px #3b3939;
    position: relative;
}
.todomain h2{
    backdrop-filter: blur(100px);
    width: 100%;
    text-align: center;
    border: 4px solid black;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}
.todomain form{
    border: 4px solid black;
    border-top: 2px solid;
    padding: 40px 30px 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.labinput{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.labinput label{
    font-weight: 600;
}
.labinput input{
    height: 30px;
    width: 250px;
    border: 1px solid black;
    padding: 5px ;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    outline: none;

}
.todomain button{
    height: 30px;
    width: 65px;
    border-radius: 10px;
    border: none;
    font-size: 13px;
    font-weight: 600;
    background-color:royalblue;
    color: whitesmoke;
    cursor: pointer;

}
form button:active{
    background-color: rosybrown;
    color: rgb(2, 2, 2);
}
form button:hover{
    background-color: rgb(38, 84, 223);
}
.todolist{
    height: 360px;
    width: 600px;
    border-left: 7px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}
.todolist h2{
    text-align: center;
}
.todoitems{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.todoitem{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2px 5px 2px 8px;
    border-radius: 10px;
    background-color: #0d95d4;
    height: 70px;
    width: 100%;
    /* box-shadow: -3px 4px 13px 5px #0e0e0e59; */
}
.todoitem:hover{
    box-shadow: -3px 4px 13px 5px #0e0e0e59;
    transform: translate(0,-2px);
    transition-duration: .3s; 
}
.todoitem h2{
    /* background-color: red; */
    height: 100%;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px solid black;
}
.todoname{
    /* background-color: red; */
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(160, 3, 3);
    font-size: 18px;
    font-weight: bold;
}
.discdiv{
    padding: 4px 2px 4px 0px;
    height: 100%;
    width: 60%;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.discdiv p{
    border-left: 1px solid black;
    padding-left: 4px;
    font-size: 13px;
}

.btns{
    /* background-color: red; */
    height: 100%;
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid black;
    padding-left: 5px;
}
.btns form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.btns form button{
    outline: none;
    border: none;
    height: 20px;
    width: 100%;
    font-size: 12px;
    border-radius: 7px;
    padding: 2px 4px 2px 4px;
    font-weight: 500;
    color: whitesmoke;
}
#delbtn{
    background-color: rgb(214, 56, 56);
}
#delbtn:hover{
    background-color: rgb(212, 14, 14);
}
#delbtn:active{
    color: black;
}
#donebtn{
    background-color: rgba(255, 255, 0, 0.829);
    color: black;
}
#donebtn:hover{
    background-color: yellow;

}
#donebtn:active{
    color: whitesmoke;
}