{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/stylesheets/style.css'%}">
</head>
<body>
    <span>To-Do-List</span>
    <div class="superdiv">
        <div class="todomain">
            <h2>Add To-Do</h2>
            <form method="POST" action="addtodo">
                {% csrf_token %}
                <div class="labinput">
                    <label>Title:</label>
                    <input type="text" name="title" placeholder="Title" maxlength="28" required>
                </div>
                <div class="labinput">
                    <label>Description:</label>
                    <input type="text" name="description" placeholder="Description" maxlength="100">
                </div>
                <button type="submit">Add</button>
            </form>
        </div>
        <div class="todolist">
            <h2 style="text-align: center;">All To-Dos</h2>
            <div class="todoitems">
                {% if todos|length == 0 %}
                <div class="emptydiv">
                    empty
                </div>
                {% else %}
                {% for todo in todos %}
                <div class="todoitem">
                    <div class="todoinfo">
                        <div class="todoname">
                            <h1>{{forloop.counter}}.</h1>
                            <h2>{{todo.title}}</h2>
                            {% if  todo.status == "Pending"%}
                            <h4 style="color: rgb(199, 68, 68); margin-left: 7px;">{{todo.status}}</h4 style="margin-left: 10%;">
                            {% else %}
                                <h4 style="color: rgb(68, 199, 75); margin-left: 7px;">{{todo.status}}</h4 style="margin-left: 10%;">
                            {% endif %}
                        </div>
                        <div class="discrip">
                            {{todo.discript}}
                        </div>
                    </div>
                    <div class="btns">
                        <div class='actbtns'>
                            <form action='deltodo' method='POST'>
                                {% csrf_token %}
                                <button id="delbtn" name="{{todo.id}}">Delete</button>
                            </form>
                            {% if todo.status == "Pending" %}
                            <form action='statuschange' method='POST'>
                                {% csrf_token %}
                                <button id="donebtn" name="{{todo.id}}">click to Done</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>